<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="przychodnia.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <przychodnia.Settings>
            <setting name="dbstring" serializeAs="String">
                <value>Server=tcp:sqldatabase-przychodnia.database.windows.net,1433;Initial Catalog=PRZYCHODNIA;Persist Security Info=False;User ID=sqladmin;Password=SuperAdmin2137#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
            </setting>
        </przychodnia.Settings>
    </userSettings>
</configuration>